SUPABASE_URL=https://zmbesriyuyotqmgfonzx.supabase.co
SUPABASE_ANON_KEY=your_anon_key
PINECONE_API_KEY=your_pinecone_key
PINECONE_HOST=occ-props-n506n90.svc.aped-4627-b74a.pinecone.io
OPENAI_API_KEY=your_openai_key
